
<div class="strokeme">
<h1> _hello_person_ </h1>
<h3> welcome to DB:Scan </h3>

<p class= "intro"> DB:Scan is a web app that scans through user-uploaded databases for vulnerable accounts – ones protected by 500 of the most common and easily hacked passwords – and then reports security risks to users and prompts password changes. DB:Scan is backend-focused and leverages the BCrypt-ruby gem.  </p>

</div>