
<div class"mainContent">
  <div class="content"
    <article class= "topcontent"> 
      <header>
        <h1> < hello. these are the vunerable accounts in your database > </h1>
      </header>

      <footer>
       <p> scanned in ___ seconds </p>
      </footer>

      <content> 
      <h4 class="info"> <% @matches.each do |m| %>
                            <h4> <%= m %> </h4></h4>
                              <% end %>
      </content>

    </article>
    </div>
    </div>


