<p> </p>
<h2> < imp0rt database > </h2>

<%= form_tag "/databases", method: :post, multipart: true do %>
<%=file_field_tag :file  %> 
<%= submit_tag "scan it!" %>  
<%end%>

<div>
<h4> test a password </h4>


<div ng-app="app">
  <div ng-controller="passwordCtrl">
      test it here: <input ng-model="password">
      <button ng-click="sendPassword(password)"> send password </button>
      <div>{{passwordMessage}}</div>

  <div>
</div>

 