<h3 class= "tipheader"> t1ps f0r saf3r pa$$words </h3>

<div>
 
   <p class= "tips-t">* the longer the better! instead of 8 character try 12.</p>
   <p class= "tips-t">* use variations on capitalization, spelling, numbers and punctuation </p>
   <p class= "tips-t">* take a sentence and turn it into a password</p>
   <p class= "tips-t">* come up with 10-12 random words. a 12 word phrase would take about 238,378,158,171,207 quadragintillion years for a brute force attack to crack.</p>
   <p class= "tips-t">* use the PAO method- person,action,object. ("santa clause working on his taxidermy reindeer project")because for most of us, our brains remember images, phrases, and outlandish scenarios easier then randomly generated characters and letters. </p>
   <p class= "tips-t">* stop using the same password for everything</p>
   <p class= "tips-t">* get a password management tool if you just cant remember your passwords (but make sure the password to get into that is very secure!!)</p>
   <p class= "tips-t">* your passwords should be like your underwear: changed often.</p>

 </div>