body {
  background-color: black;
  color: #00CC00;
  font-family: 'Inconsolata', ;
  font-size: 14px;
  line-height: 18px;
background-image: image-url('data22.jpeg');
background-repeat: repeat-y;
background-size: 100%;
}

// Place all the styles related to the scans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
